p.verso{

   color: blue;

}
.mote {
    color: red;
    font-weight: bold; 
}
.link-poeta {
    color: red; 
    text-decoration: none; 
    font-weight: bold;
}


.link-poeta:hover {
    color: darkred;
    text-decoration: underline;
}


.link-poeta:visited {
    color: purple;
}
.avatar {
    width: 80px;       
    height: 80px;
    border-radius: 50%; 
    margin-right: 10px; 
    vertical-align: middle;
}


.poeta img {
    border-radius: 50%;
}

