p.verso{

   color: blue;

}
.mote {
    color: red;
    font-weight: bold; 
}
.link-poeta {
    color: red; 
    text-decoration: none; 
    font-weight: bold;
}


.link-poeta:hover {
    color: darkred;
    text-decoration: underline;
}


.link-poeta:visited {
    color: purple;
}
